<!-- client_search.html -->
<div id="clientSearch" class="tabcontent">
    <h1>Client Search</h1>
    <form method="post" action="{% url 'client_search' %}">
        {% csrf_token %}
        <input type="text" name="search_query" placeholder="Search for a client">
        <input type="submit" value="Search">
    </form>
    <hr>
    {% if clients %}
    <h2>Search Results:</h2>
    <ul>
        {% for client in clients %}
        <li>
            <a href="{% url 'insert_calendar' client.id %}?surname={{ client.surname }}&name={{ client.name }}&address={{ client.address }}&city={{ client.city }}&phone={{ client.phone }}&email={{ client.email }}&comments={{ client.comments }}">
                {{ client.surname }}, {{ client.name }} ({{ client.email }})
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No matching clients found.</p>
    {% endif %}
</div>
