{% extends 'base.html' %}
{% block content %}


<script>    
    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        
        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        
        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";
        
        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
        
    }

    function openPage_head(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent_head, tablinks_head;
        tabcontent_head = document.getElementsByClassName("tabcontent_head");
        for (i = 0; i < tabcontent_head.length; i++) {
            tabcontent_head[i].style.display = "none";
        }
        
        // Remove the background color of all tablinks/buttons
        tablinks_head = document.getElementsByClassName("tablink_head");
        for (i = 0; i < tablinks_head.length; i++) {
            tablinks_head[i].style.backgroundColor = "";
        }
        
        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";
        
        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
        
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click(); 

</script>

<style>

    /* Set height of body and the document to 100% to enable "full page tabs" */
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial;
    }

    /* Style tab links */
    .tablink {
        background-color: lightblue;
        color: black;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        /* you need to change width in order to fit the desired amount of tabs */
        width: 33.3%;
    }

    /* Style for top tab links (Client,Calendar,Reports) */
    .tablink_head {
        background-color: lightblue;
        color: black;
        float: left;
        border: none;
        outline: 1px;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        /* you need to change width in order to fit the desired amount of tabs */
        width: 33.33%;
    }

    .tablink:hover {
        background-color: #777;
    }

    .tablink_head:hover {
        background-color: #777;
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: white;
        display: none;
        padding: 100px 20px;
        height: 100%;
    }

    /* Style for the top tabs (Client,Calendar,Reports) */
    .tabcontent_head {
        color: white;
        display: none;
        padding: 100px 20px;
        height: 100%;
    }

    input[type=email]{
        width: 100%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Style for navigation through pages */
    .step-links {
        color: black;
        float: middle;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        /* you need to change width in order to fit the desired amount of tabs */
        /*width: 100%;*/
    }

    /* Style for navigation through pages */
    .step-links a {
        float: middle;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        /* you need to change width in order to fit the desired amount of tabs */
        /*width: 100%;*/
    }

    /* Style the paginator */
    .pagination {
        border-radius: 5px;
        background-color: #fff;
        padding: 1%;
    }

    #client {background-color: #aaa; color: black}
    #calendar {background-color: #888; color: black}
    #reports {background-color: #444;}

    #searchClient {background-color: royalblue;}
    #insertClient {background-color: crimson;}
    #updateClient {background-color: lightgoldenrodyellow; color: black}
    #searchCalendar {background-color: royalblue;}
    #insertCalendar {background-color: crimson;}
    #updateCalendar {background-color: lightgoldenrodyellow; color: black} 

</style>

<!-- These are the buttons (tabcontent_head) for the top navigation (client/calendar). When you press one it calls the onclick functions
     which are determined herebelow. Then the proper <div> opens. Finally, the new buttons (tabcontent) open and the same procedure
     starts all over again, up until you press a "submit" button. The "openPage" and "openPage_head" functions are inside the script
     in the top of the page. The scripts inside the search, insert and update <div> are for loading the pre-selected dropdown menus
     for the job_type and category -->
<button class="tablink_head" onclick="openPage_head('client', this, '#aaa')">Client</button>
<button class="tablink_head" onclick="openPage_head('calendar', this, '#888')">Calendar</button>
<button class="tablink_head" onclick="openPage_head('reports', this, '#444')" id="defaultOpen">Reports</button>

<div id="reports" class="tabcontent_head">

    <h2>Service Reports for the next 10 days</h2>

    <script>
        /* This script use is to keep the Reports tab open in order to avoid having to reopen it every time we want to change 
            the page of the reports */
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click(); 
    </script>
    
    {% for report in report %}
        <div class="container">
            {% csrf_token %}
            <form action="db" method='post'>
        
                <div class="row">
                    <div class="col-25">        
                        <label>Visit ID</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.id != "" %}
                            <p>{{report.id}}</p>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-25">        
                        <label>Date of Visit</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.date != "" %}
                            <p>{{report.date}}</p>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-25">        
                        <label>Client's Surname</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.surname != "" %}
                            <p>{{report.surname}}</p>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-25">        
                        <label>Client's Name</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.name != "" %}
                            <p>{{report.name}}</p>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-25">        
                        <label>Client's Address</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.address != "" %}
                            <p>{{report.address}}</p>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-25">        
                        <label>City of the Address</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.city != "" %}
                            <p>{{report.city}}</p>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-25">        
                        <label>Client's Telephone number</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.phone != "" %}
                            <p>{{report.phone}}</p>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-25">        
                        <label>Client's E-mail Address</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.id != "" %}
                            <a href="mailto:{{report.email}}">{{report.email}}</a>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-25">        
                        <label>Reason of Visit</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.job_type != "" %}
                            <p>{{report.job_type}}</p>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-25">        
                        <label>Category of Product</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.category != "" %}
                            <p>{{report.category}}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Visit's Cost</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.price != "" %}
                            <p>{{report.price}}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Money Client paid for the Visit</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.paid != "" %}
                            <p>{{report.paid}}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Visit's Comments</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        {% if report.comments != "" %}
                            <p>{{report.comments}}</p>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-25">        
                        <label>Installation Manual</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        {% if report.installationManual != "" %}
                            <a href="{{report.installationManual.url}}">Manual</a>
                        {% endif %}
                    </div>
                </div>
        
            </form>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if report.has_previous %}
                <a href="?page={{ report.previous_page_number }}"><< Previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ report.number }} of {{ report.paginator.num_pages }}
            </span>
    
            {% if report.has_next %}
                <a href="?page={{ report.next_page_number }}">Next >></a>
            {% endif %}
        </span>
    </div>
    
</div>

<div id="client" class="tabcontent_head">
    <h1>Hello {{name}}!!!!!!!!!</h1>
    <h2>You can work on the below functions regarding Clients</h2>

    <!-- If we want to add a dropdown list to a specific field and we want this dropdown menu to load when we click the
         "tablink"/tab we need to add something like this "searchDropdownClient();" before openPage(...). The same way
         as we do it in the calendar section -->

    <button class="tablink" onclick="openPage('searchClient', this, 'royalblue')">Search</button>
    <button class="tablink" onclick="openPage('insertClient', this, 'crimson')" id="defaultOpen">Insert</button>
    <button class="tablink" onclick="openPage('updateClient', this, 'lightgoldenrodyellow')">Update</button> 

    <div id="searchClient" class="tabcontent">
        
        <h1>Hello {{name}}!!!!!!!!!</h1>
        <h2>Search by any of the below field or combination of them</h2>
        <script >

            var categoryObject = ["ALARM","DOORPHONE","SATELLITE","TERRESTRIAL","CCTV","NETWORK","FIRE","TELEPHONE CENTER","OTHER"] 
            var job_typeObject = ["INSTALLATION","ERROR","SERVICE","ADDITION","REMAKE","CHECK","CALIBRATION","OFFER","COLLECTION","OTHER"]
            countSClient=0;

            function searchDropdownClient() {
                //this if exist to prevent the list to load more than one time and 
                //it has to use different count pointer because it affects the other
                //count variables because it is "global"
                if(countSClient==0){
                    //we need to use different elements (categoryS, categoryI and categoryU)
                    //because after running the first *Dropdown function the others won't load
                    var categorySel = document.getElementById("categorySCLient");
                    var job_typeSel = document.getElementById("job_typeSCLient");
                    var i=0;
                    for (var x in categoryObject) {
                        categorySel.options[categorySel.options.length] = new Option(categoryObject[i], categoryObject[i]);
                        i++
                    }
                    i=0;
                    for (var x in job_typeObject) {
                        job_typeSel.options[job_typeSel.options.length] = new Option(job_typeObject[i], job_typeObject[i]);
                        i++
                    }
                    countSClient=1;
                }
            } 

        </script>

        <div class="container">
            <form action="search_complete_client" method='post'>

                <div class="row">
                    <div class="col-25">
                        <label>ID</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="id" placeholder="Client's ID">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">   
                        <label>Client's Surname</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="surname" placeholder="Client's Surname (ex. PsARROS)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25"> 
                        <label>Client's Name</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Client's Name (ex. ThEODOROS)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Address</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="address" placeholder="Client's Address (ex. NIKHS 2)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">      
                        <label>City</label>
                    </div>
                    <div class="col-75">  
                        {% csrf_token %}
                        <input type="text" name="city" placeholder="City of the Aabove address (ex. ELLINIKO)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Telephone Number</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="phone" placeholder="Client's Telephone (ex. 6912345678)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's E-mail Address</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Client's E-mail Address (ex. example@example.com)">
                    </div>
                </div>

                <input type="submit" id ="submitButtonSClient" value="Search" >

            </form>

        </div>
    </div>

    <div id="insertClient" class="tabcontent">
        
        <h1>Hello {{name}}!!!!!!!!!</h1>
        <h2>It's time to enter some data into the Database</h2>
        <script >
            var categoryObject = ["ALARM","DOORPHONE","SATELLITE","TERRESTRIAL","CCTV","NETWORK","FIRE","TELEPHONE CENTER","OTHER"] 
            var job_typeObject = ["INSTALLATION","ERROR","SERVICE","ADDITION","REMAKE","CHECK","CALIBRATION","OFFER","COLLECTION","OTHER"]
            countIClient=0;

            function insertDropdownClient(){
                //this if exist to prevent the list to load more than one time and 
                //it has to use different count pointer because it affects the other
                //count variables because it is "global"
                if(countIClient==0){
                    //we need to use different elements (categoryS, categoryI and categoryU)
                    //because after running the first *Dropdown function the others won't load
                    var categorySel = document.getElementById("categoryICLient");
                    var job_typeSel = document.getElementById("job_typeICLient");
                    var i=0;
                    for (var x in categoryObject) {
                        categorySel.options[categorySel.options.length] = new Option(categoryObject[i], categoryObject[i]);
                        i++
                    }
                    i=0;
                    for (var x in job_typeObject) {
                        job_typeSel.options[job_typeSel.options.length] = new Option(job_typeObject[i], job_typeObject[i]);
                        i++
                    }
                    countIClient=1;
                }
            } 
            

        </script>

        <div class="container">
            <form action="insert_complete_client" method='post'>

                <div class="row">
                    <div class="col-25">   
                        <label>Client's Surname</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="surname" placeholder="Client's Surname (ex. ΑΝΤΩΝΙΟΥ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25"> 
                        <label>Client's Name</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Client's Name (ex. ΑΝΤΩΝΙΟΣ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Address</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="address" placeholder="Client's Address (ex. ΑΝΤΩΝΟΠΟΥΛΟΥ 10)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">      
                        <label>City</label>
                    </div>
                    <div class="col-75">  
                        {% csrf_token %}
                        <input type="text" name="city" placeholder="City of the Aabove address (ex. ΑΘΗΝΑ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Telephone Number</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="phone" placeholder="Client's Telephone (ex. 6912345678)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's E-mail Address</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="email" placeholder="Client's E-mail Address (ex. example@example.com)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Comments</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="comments" placeholder="Comments for the Client">
                    </div>
                </div>

                <input type="submit" id ="submitButtonIClient" value="Ready to submit on Databse" onclick="buttonClickIClient()">

                <script type="text/javascript">
                    function buttonClickIClient(){
                        window.alert("Submission complete! Thank you for your contribution!");
                    }
                </script>

            </form>

        </div>
    </div>

    <div id="updateClient" class="tabcontent">
        
        <h1>Hello {{name}}!!!!!!!!!</h1>
        <h2>Some Client's data needs to be updated/changed</h2>
        <script >

            var categoryObject = ["ALARM","DOORPHONE","SATELLITE","TERRESTRIAL","CCTV","NETWORK","FIRE","TELEPHONE CENTER","OTHER"] 
            var job_typeObject = ["INSTALLATION","ERROR","SERVICE","ADDITION","REMAKE","CHECK","CALIBRATION","OFFER","COLLECTION","OTHER"]
            countUClient=0;

            function updateDropdownClient() {
                //this if exist to prevent the list to load more than one time and 
                //it has to use different count pointer because it affects the other
                //count variables because it is "global"
                if(countUClient==0){
                    //we need to use different elements (categoryS, categoryI and categoryU)
                    //because after running the first *Dropdown function the others won't load
                    var categorySel = document.getElementById("categoryUCLient");
                    var job_typeSel = document.getElementById("job_typeUCLient");
                    var i=0;
                    for (var x in categoryObject) {
                        categorySel.options[categorySel.options.length] = new Option(categoryObject[i], categoryObject[i]);
                        i++
                    }
                    i=0;
                    for (var x in job_typeObject) {
                        job_typeSel.options[job_typeSel.options.length] = new Option(job_typeObject[i], job_typeObject[i]);
                        i++
                    }
                    countUClient=1;
                }
            } 

        </script>

        <div class="container">
            <form action="update_complete_client" method='post'>

                <div class="row">
                    <div class="col-25">
                        <label>Client's ID</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="id" placeholder="The ID of the client you want to change">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">   
                        <label>Client's Surname</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="surname" placeholder="Client's Surname (ex. ΑΝΤΩΝΙΟΥ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25"> 
                        <label>Client's Name</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Client's Name (ex. ΑΝΤΩΝΙΟΣ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Address</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="address" placeholder="Client's Address (ex. ΑΝΤΩΝΟΠΟΥΛΟΥ 10)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">      
                        <label>City</label>
                    </div>
                    <div class="col-75">  
                        {% csrf_token %}
                        <input type="text" name="city" placeholder="City of the Aabove address (ex. ΑΘΗΝΑ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Telephone Number</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="phone" placeholder="Client's Telephone (ex. 6912345678)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's E-mail Address</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="email" placeholder="Client's E-mail Address (ex. example@example.com)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Comments</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="comments" placeholder="Comments for the Client">
                    </div>
                </div>

                <input type="submit" id ="submitButtonUClient" value="Ready to submit on Databse" onclick="buttonClickUClient()">

                <script type="text/javascript">
                    function buttonClickUClient(){
                        window.alert("Update complete! Thank you for the fix");
                    }
                </script>

            </form>

        </div>
    </div>

</div>

<div id="calendar" class="tabcontent_head">
    <h1>Hello {{name}}!!!!!!!!!</h1>
    <h2>You can work on the below functions regarding Calendar</h2>

    <button class="tablink" onclick="searchDropdownCalendar();openPage('searchCalendar', this, 'royalblue')">Search</button>
    <button class="tablink" onclick="insertDropdownCalendar();openPage('insertCalendar', this, 'crimson')" id="defaultOpen">Insert</button>
    <button class="tablink" onclick="updateDropdownCalendar();openPage('updateCalendar', this, 'lightgoldenrodyellow')">Update</button> 

    <div id="searchCalendar" class="tabcontent">
        
        <h1>Hello {{name}}!!!!!!!!!</h1>
        <h2>Search by any of the below field or combination of them</h2>
        <script >

            var categoryObject = ["ALARM","DOORPHONE","SATELLITE","TERRESTRIAL","CCTV","NETWORK","FIRE","TELEPHONE CENTER","OTHER"] 
            var job_typeObject = ["INSTALLATION","ERROR","SERVICE","ADDITION","REMAKE","CHECK","CALIBRATION","OFFER","COLLECTION","OTHER"]
            countSCalendar=0;

            function searchDropdownCalendar() {
                //this if exist to prevent the list to load more than one time and 
                //it has to use different count pointer because it affects the other
                //count variables because it is "global"
                if(countSCalendar==0){
                    //we need to use different elements (categoryS, categoryI and categoryU)
                    //because after running the first *Dropdown function the others won't load
                    var categorySel = document.getElementById("categorySCal");
                    var job_typeSel = document.getElementById("job_typeSCal");
                    var i=0;
                    for (var x in categoryObject) {
                        categorySel.options[categorySel.options.length] = new Option(categoryObject[i], categoryObject[i]);
                        i++
                    }
                    i=0;
                    for (var x in job_typeObject) {
                        job_typeSel.options[job_typeSel.options.length] = new Option(job_typeObject[i], job_typeObject[i]);
                        i++
                    }
                    countSCalendar=1;
                }
            } 

        </script>

        <div class="container">
            <form action="search_complete" method='post'>

                <div class="row">
                    <div class="col-25">
                        <label>Visit's ID</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="id" placeholder="Visit's ID">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label>Date</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="date" placeholder="Date of the visit (YYYY/mm/dd)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">   
                        <label>Client's Surname</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="surname" placeholder="Client's Surname (ex. PsARROS)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25"> 
                        <label>Client's Name</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Client's Name (ex. ThEODOROS)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Address</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="address" placeholder="Client's Address (ex. NIKHS 2)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">      
                        <label>City</label>
                    </div>
                    <div class="col-75">  
                        {% csrf_token %}
                        <input type="text" name="city" placeholder="City of the Aabove address (ex. ELLINIKO)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Telephone Number</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="phone" placeholder="Client's Telephone (ex. 6912345678)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's E-mail Address</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Client's E-mail Address (ex. example@example.com)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">                
                        <label>Job Type</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <select name="job_type" id="job_typeSCal">
                            <option value="" selected="selected">
                                Reason of the visit (ex. ERROR)
                            </option>
                            <br><br>
                        </select>
                        <!-- <input type="text" name="job_type" placeholder="Reason of the visit (ex. ERROR)"> -->
                        <!-- the above line was replaced by the <select>...</select> statement in order to
                        create the dropdown list/menu for the fixed types of jobs and categories -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-25">     
                        <label>Category</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <select name="category" id="categorySCal">
                            <option value="" selected="selected">
                                Category of products (ex. ALARM)
                            </option>
                            <br><br>
                        </select>
                        <!-- <input type="text" name="category" placeholder="Category of products (ex. ALARM)"> -->
                        <!-- the above line was replaced by the <select>...</select> statement in order to
                        create the dropdown list/menu for the fixed types of jobs and categories -->
                    </div>
                </div>

                <input type="submit" id ="submitButtonSCalendar" value="Search" >

            </form>

        </div>

    </div>

    <div id="insertCalendar" class="tabcontent">
        
        <h1>Hello {{name}}!!!!!!!!!</h1>
        <h2>It's time to enter some data into the Database</h2>
        <script >
            var categoryObject = ["ALARM","DOORPHONE","SATELLITE","TERRESTRIAL","CCTV","NETWORK","FIRE","TELEPHONE CENTER","OTHER"] 
            var job_typeObject = ["INSTALLATION","ERROR","SERVICE","ADDITION","REMAKE","CHECK","CALIBRATION","OFFER","COLLECTION","OTHER"]
            countICalendar=0;

            function insertDropdownCalendar(){
                //this if exist to prevent the list to load more than one time and 
                //it has to use different count pointer because it affects the other
                //count variables because it is "global"
                if(countICalendar==0){
                    //we need to use different elements (categoryS, categoryI and categoryU)
                    //because after running the first *Dropdown function the others won't load
                    var categorySel = document.getElementById("categoryICal");
                    var job_typeSel = document.getElementById("job_typeICal");
                    var i=0;
                    for (var x in categoryObject) {
                        categorySel.options[categorySel.options.length] = new Option(categoryObject[i], categoryObject[i]);
                        i++
                    }
                    i=0;
                    for (var x in job_typeObject) {
                        job_typeSel.options[job_typeSel.options.length] = new Option(job_typeObject[i], job_typeObject[i]);
                        i++
                    }
                    countICalendar=1;
                }
            } 
            

        </script>

        <div class="container">
            <form action="insert_complete" method='post' enctype='mutlipart/form-data'>

                <div class="row">
                    <div class="col-25">
                        <label>Date</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="date" placeholder="Date of the visit (YYYY/mm/dd)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">   
                        <label>Client's Surname</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="surname" placeholder="Client's Surname (ex. ΑΝΤΩΝΙΟΥ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25"> 
                        <label>Client's Name</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Client's Name (ex. ΑΝΤΩΝΙΟΣ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Address</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="address" placeholder="Client's Address (ex. ΑΝΤΩΝΟΠΟΥΛΟΥ 10)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">      
                        <label>City</label>
                    </div>
                    <div class="col-75">  
                        {% csrf_token %}
                        <input type="text" name="city" placeholder="City of the Aabove address (ex. ΑΘΗΝΑ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Telephone Number</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="phone" placeholder="Client's Telephone (ex. 6912345678)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's E-mail Address</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="email" placeholder="Client's E-mail Address (ex. example@example.com)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">                
                        <label>Job Type</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <select name="job_type" id="job_typeICal">
                            <option value="" selected="selected">
                                Reason of the visit (ex. ERROR)
                            </option>
                            <br><br>
                        </select>
                        <!-- <input type="text" name="job_type" placeholder="Reason of the visit (ex. ERROR)"> -->
                        <!-- the above line was replaced by the <select>...</select> statement in order to
                        create the dropdown list/menu for the fixed types of jobs and categories -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-25">     
                        <label>Category</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <select name="category" id="categoryICal">
                            <option value="" selected="selected">
                                Category of products (ex. ALARM)
                            </option>
                            <br><br>
                        </select>
                        <!-- <input type="text" name="category" placeholder="Category of products (ex. ALARM)"> -->
                        <!-- the above line was replaced by the <select>...</select> statement in order to
                        create the dropdown list/menu for the fixed types of jobs and categories -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Visit's Cost</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="price" placeholder="Amount of money we asked for the visit (ex. 45.20)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Visit's Collection</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="paid" placeholder="Amount of money the client paid (ex. 32.70)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Visit's Comments</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="comments" placeholder="Comments">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Manual</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="file" name="file" placeholder="Manual (.pdf file with all pages in photos)">
                    </div>
                </div>

                <input type="submit" id ="submitButtonICalendar" value="Ready to submit on Databse" onclick="buttonClickICalendar()">

                <script type="text/javascript">
                    function buttonClickICalendar(){
                        window.alert("Submission complete! Thank you for your contribution!");
                    }
                </script>

            </form>

        </div>

    </div>

    <div id="updateCalendar" class="tabcontent">
        
        <h1>Hello {{name}}!!!!!!!!!</h1>
        <h2>Some Client's data needs to be updated/changed</h2>
        <script >

            var categoryObject = ["ALARM","DOORPHONE","SATELLITE","TERRESTRIAL","CCTV","NETWORK","FIRE","TELEPHONE CENTER","OTHER"] 
            var job_typeObject = ["INSTALLATION","ERROR","SERVICE","ADDITION","REMAKE","CHECK","CALIBRATION","OFFER","COLLECTION","OTHER"]
            countUCalendar=0;

            function updateDropdownCalendar() {
                //this if exist to prevent the list to load more than one time and 
                //it has to use different count pointer because it affects the other
                //count variables because it is "global"
                if(countUCalendar==0){
                    //we need to use different elements (categoryS, categoryI and categoryU)
                    //because after running the first *Dropdown function the others won't load
                    var categorySel = document.getElementById("categoryUCal");
                    var job_typeSel = document.getElementById("job_typeUCal");
                    var i=0;
                    for (var x in categoryObject) {
                        categorySel.options[categorySel.options.length] = new Option(categoryObject[i], categoryObject[i]);
                        i++
                    }
                    i=0;
                    for (var x in job_typeObject) {
                        job_typeSel.options[job_typeSel.options.length] = new Option(job_typeObject[i], job_typeObject[i]);
                        i++
                    }
                    countUCalendar=1;
                }
            } 

        </script>

        <div class="container">
            <form action="update_complete" method='post' enctype='mutlipart/form-data'>

                <div class="row">
                    <div class="col-25">
                        <label>Visit ID</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="id" placeholder="Visit's ID">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label>Date</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="date" placeholder="Date of the visit (YYYY/mm/dd)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">   
                        <label>Client's Surname</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="surname" placeholder="Client's Surname (ex. ΑΝΤΩΝΙΟΥ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25"> 
                        <label>Client's Name</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Client's Name (ex. ΑΝΤΩΝΙΟΣ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Address</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <input type="text" name="address" placeholder="Client's Address (ex. ΑΝΤΩΝΟΠΟΥΛΟΥ 10)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">      
                        <label>City</label>
                    </div>
                    <div class="col-75">  
                        {% csrf_token %}
                        <input type="text" name="city" placeholder="City of the Aabove address (ex. ΑΘΗΝΑ)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's Telephone Number</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="phone" placeholder="Client's Telephone (ex. 6912345678)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Client's E-mail Address</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="email" placeholder="Client's E-mail Address (ex. example@example.com)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">                
                        <label>Job Type</label>
                    </div>
                    <div class="col-75">
                        {% csrf_token %}
                        <select name="job_type" id="job_typeUCal">
                            <option value="" selected="selected">
                                Reason of the visit (ex. ERROR)
                            </option>
                            <br><br>
                        </select>
                        <!-- <input type="text" name="job_type" placeholder="Reason of the visit (ex. ERROR)"> -->
                        <!-- the above line was replaced by the <select>...</select> statement in order to
                        create the dropdown list/menu for the fixed types of jobs and categories -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-25">     
                        <label>Category</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <select name="category" id="categoryUCal">
                            <option value="" selected="selected">
                                Category of products (ex. ALARM)
                            </option>
                            <br><br>
                        </select>
                        <!-- <input type="text" name="category" placeholder="Category of products (ex. ALARM)"> -->
                        <!-- the above line was replaced by the <select>...</select> statement in order to
                        create the dropdown list/menu for the fixed types of jobs and categories -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Visit's Cost</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="price" placeholder="Amount of money we asked for the visit (ex. 45.20)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Visit's Collection</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="paid" placeholder="Amount of money the client paid (ex. 32.70)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Visit's Comments</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="text" name="comments" placeholder="Comments">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">        
                        <label>Manual</label>
                    </div>
                    <div class="col-75"> 
                        {% csrf_token %}
                        <input type="file" name="file" placeholder="Manual (.pdf file with all pages in photos)">
                    </div>
                </div>

                <input type="submit" id ="submitButtonUCalendar" value="Ready to submit on Databse" onclick="buttonClickUCalendar()">

                <script type="text/javascript">
                    function buttonClickUCalendar(){
                        window.alert("Update complete! Thank you for the fix");
                    }
                </script>

            </form>

        </div>
    </div>

</div>
{% endblock %}
