{% extends 'base.html' %}

{% block content %}
<div id="tabContainer">
    <div id="calendar" class="tabcontent_head">
        <h1>Hello {{ name }}!!!!!!!!!</h1>
        <h2>You can work on the below functions regarding Calendar</h2>

        <button class="tablink" onclick="openTab('searchCalendar')">Search</button>
        <button class="tablink" onclick="openTab('insertCalendar')" id="defaultOpen">Insert</button>
        <button class="tablink" onclick="openTab('updateCalendar')">Update</button>

        <!-- Search Calendar Tab -->
        <div id="searchCalendar" class="tabcontent">
            <h1>Hello {{ name }}!!!!!!!!!</h1>
            <h2>Search by any of the below field or combination of them</h2>

            <form action="{% url 'search_complete' %}" method="post">
                {% csrf_token %}
                {{ search_form.as_p }}

                <input type="submit" value="Search">
            </form>
        </div>

        <!-- Insert Calendar Tab -->
        <div id="insertCalendar" class="tabcontent">
            <h1>Hello {{ name }}!!!!!!!!!</h1>
            <h2>It's time to enter some data into the Database</h2>

            <form action="{% url 'insert_complete' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ insert_form.as_p }}

                <input type="submit" value="Ready to submit on Database">
            </form>
        </div>

        <!-- Update Calendar Tab -->
        <div id="updateCalendar" class="tabcontent">
            <h1>Hello {{ name }}!!!!!!!!!</h1>
            <h2>Some Client's data needs to be updated/changed</h2>

            <form action="{% url 'update_complete' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ update_form.as_p }}

                <input type="submit" value="Update">
            </form>
        </div>
    </div>
</div>
{% endblock %}
