{% extends 'base.html' %}
{% block content %}
<h1>Search Results</h1>

<script>    
    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        
        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        
        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";
        
        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
        
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click(); 

</script>

{% for search in search %}
    <div class="container">
        <form action="db" method='post'>

            <div class="row">
                <div class="col-25">        
                    <label>Clinet ID</label>
                </div>
                <div class="col-75"> 
                    {% csrf_token %}
                    {% if search.id != "" %}
                        <p>{{search.id}}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-25">        
                    <label>Client's Surname</label>
                </div>
                <div class="col-75"> 
                    {% csrf_token %}
                    {% if search.surname != "" %}
                        <p>{{search.surname}}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-25">        
                    <label>Client's Name</label>
                </div>
                <div class="col-75"> 
                    {% csrf_token %}
                    {% if search.name != "" %}
                        <p>{{search.name}}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-25">        
                    <label>Client's Address</label>
                </div>
                <div class="col-75"> 
                    {% csrf_token %}
                    {% if search.address != "" %}
                        <p>{{search.address}}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-25">        
                    <label>City of the Address</label>
                </div>
                <div class="col-75"> 
                    {% csrf_token %}
                    {% if search.city != "" %}
                        <p>{{search.city}}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-25">        
                    <label>Client's Telephone number</label>
                </div>
                <div class="col-75"> 
                    {% csrf_token %}
                    {% if search.phone != "" %}
                        <p>{{search.phone}}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-25">        
                    <label>Client's E-mail Address</label>
                </div>
                <div class="col-75"> 
                    {% csrf_token %}
                    {% if search.id != "" %}
                        <a href="mailto:{{search.email}}">{{search.email}}</a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-25">        
                    <label>Comments</label>
                </div>
                <div class="col-75"> 
                    {% csrf_token %}
                    {% if search.comments != "" %}
                        <p>{{search.comments}}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                {% csrf_token %}
                <input type="submit" value="Return to DB">
            </div>

        </form>
    </div>
{% endfor %}


{% endblock %}